*~
*.o

*cilkWorld
*mpWorld 
*tbbWorld
*tauTest
*pass_serial
*pass_omp 
*pass_tbb 
*pass_cilk
*cipher_serial
*crypto_serial
*crypto_omp
*crypto_tbb
*crypto_cilk

*/profile.*
*MULT*

*pass_serial

*.encode
*.html



